* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.image{
  height: 250px;
  padding: 20px;
  background: #fff;
  margin: auto;
}

.image img{
  height: 100%;
  max-width: 100%;
  width: auto;
}

/* .single-image
{
  height: 85vh;
  margin: auto;
}

.single-image img{
  height: 100%;
  max-width: 100%;
  width: auto;
} */

.cards .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  opacity: 0.8;
  transform: scale(1.05)
}

.card-image{
  border-radius: 5px 0 0 5px !important;
  border-right: none !important;
}
.card-detail{
  border-radius: 0 5px 5px 0 !important;
}

.pricetag{
  white-space:nowrap;
  position:relative;
  margin:0 5px 0 10px;
  displaY:inline-block;
  height:30px;
  border-radius: 0 5px 5px 0;
  padding: 0 25px 0 15px;
  background:teal;
  border: 0 solid teal;
  border-top-width:1px;
  border-bottom-width:1px;
  color:white;
  line-height:23px;
}

.pricetag:after{
  position:absolute;
  right:0;
  margin:1px 7px;
  font-weight:bold;
  font-size:19px;
  content:"\00D7";
}
.pricetag:before{
  position:absolute;
  content:"\25CF";
  color:white;
  text-shadow: 0 0 1px #333;
  font-size:11px;
  line-height:0px;
  text-indent:12px;
  left:-15px;
  width: 1px;
  height:0px;
  border-right:14px solid teal;
  border-top:  13px solid transparent;
  border-bottom:  13px solid transparent;
}

.category{
  border-radius: 5px;
  background-color: rgb(233, 232, 232);
  height: 10vh;
  display: flex;
  align-items: center;
  color: rgb(102, 101, 101);
  padding-left: 20px;
}